{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block content %}
    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.png">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Our Courses</h1>
                <div class="breadcumb-menu-wrap">
                    <ul class="breadcumb-menu">
                        <li><a href="index.html">Home</a></li>
                        <li>Our Courses</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <!--==============================
    Course Area
    ==============================-->
    <section class="course-layout1 space-top space-extra-bottom" data-bg-src="assets/img/bg/course-bg1.png">
        <div class="container">
            <div class="title-area3 text-center wow fadeInUp" data-wow-delay="0.3s">
                <span class="sec-subtitle style1">Browse Top Courses</span>
                <h2 class="sec-title">Most Popular Courses</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xl-4">
                    <div class="course-style2">
                        <div class="course-img">
                            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-2-1.jpg" alt="Course Img"></a>
                            <span class="course-price">$778</span>
                        </div>
                        <div class="course-content">
                            <h3 class="h5 course-name"><a href="course-details.html" class="text-inherit">Advance Begineer's Goal & Managing Course</a></h3>
                            <div class="course-meta">
                                <span><i class="fal fa-user-circle"></i>3.5k Students</span>
                                <span><i class="fas fa-history"></i>78h 15m</span>
                                <span><i class="far fa-calendar"></i>10 may, 2024</span>
                            </div>
                            <div class="course-footer">
                                <div class="course-teacher"><a href="team-details.html" class="text-inherit"><img src="assets/img/course/course-2-1.png" alt="Course">Rose Marry</a></div>
                                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="course-style2">
                        <div class="course-img">
                            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-2-2.jpg" alt="Course Img"></a>
                            <span class="course-price">$963</span>
                        </div>
                        <div class="course-content">
                            <h3 class="h5 course-name"><a href="course-details.html" class="text-inherit">Advance Technology & Architecture Course</a></h3>
                            <div class="course-meta">
                                <span><i class="fal fa-user-circle"></i>3.5k Students</span>
                                <span><i class="fas fa-history"></i>78h 15m</span>
                                <span><i class="far fa-calendar"></i>10 may, 2024</span>
                            </div>
                            <div class="course-footer">
                                <div class="course-teacher"><a href="team-details.html" class="text-inherit"><img src="assets/img/course/course-2-2.png" alt="Course">Jerzzy Lamot</a></div>
                                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="course-style2">
                        <div class="course-img">
                            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-2-3.jpg" alt="Course Img"></a>
                            <span class="course-price">$445</span>
                        </div>
                        <div class="course-content">
                            <h3 class="h5 course-name"><a href="course-details.html" class="text-inherit">Basic Chemistry Programs arranged on Lab</a></h3>
                            <div class="course-meta">
                                <span><i class="fal fa-user-circle"></i>3.5k Students</span>
                                <span><i class="fas fa-history"></i>78h 15m</span>
                                <span><i class="far fa-calendar"></i>10 may, 2024</span>
                            </div>
                            <div class="course-footer">
                                <div class="course-teacher"><a href="team-details.html" class="text-inherit"><img src="assets/img/course/course-2-3.png" alt="Course">Rodja Hartmann</a></div>
                                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="course-style2">
                        <div class="course-img">
                            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-4-1.jpg" alt="Course Img"></a>
                            <span class="course-price">$728</span>
                        </div>
                        <div class="course-content">
                            <h3 class="h5 course-name"><a href="course-details.html" class="text-inherit">Advance Begineer's Goal & Managing Course</a></h3>
                            <div class="course-meta">
                                <span><i class="fal fa-user-circle"></i>3.5k Students</span>
                                <span><i class="fas fa-history"></i>78h 15m</span>
                                <span><i class="far fa-calendar"></i>10 may, 2024</span>
                            </div>
                            <div class="course-footer">
                                <div class="course-teacher"><a href="team-details.html" class="text-inherit"><img src="assets/img/course/course-2-1.png" alt="Course">Rose Marry</a></div>
                                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="course-style2">
                        <div class="course-img">
                            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-4-2.jpg" alt="Course Img"></a>
                            <span class="course-price">$963</span>
                        </div>
                        <div class="course-content">
                            <h3 class="h5 course-name"><a href="course-details.html" class="text-inherit">Advance Technology & Architecture Course</a></h3>
                            <div class="course-meta">
                                <span><i class="fal fa-user-circle"></i>3.5k Students</span>
                                <span><i class="fas fa-history"></i>78h 15m</span>
                                <span><i class="far fa-calendar"></i>10 may, 2024</span>
                            </div>
                            <div class="course-footer">
                                <div class="course-teacher"><a href="team-details.html" class="text-inherit"><img src="assets/img/course/course-2-2.png" alt="Course">Jerzzy Lamot</a></div>
                                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="course-style2">
                        <div class="course-img">
                            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-4-3.jpg" alt="Course Img"></a>
                            <span class="course-price">$445</span>
                        </div>
                        <div class="course-content">
                            <h3 class="h5 course-name"><a href="course-details.html" class="text-inherit">Basic Chemistry Programs arranged on Lab</a></h3>
                            <div class="course-meta">
                                <span><i class="fal fa-user-circle"></i>3.5k Students</span>
                                <span><i class="fas fa-history"></i>78h 15m</span>
                                <span><i class="far fa-calendar"></i>10 may, 2024</span>
                            </div>
                            <div class="course-footer">
                                <div class="course-teacher"><a href="team-details.html" class="text-inherit"><img src="assets/img/course/course-2-3.png" alt="Course">Rodja Hartmann</a></div>
                                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{%endblock%}