{% load static%}
{% load i18n %}
<!--==============================
Footer Area
==============================-->
<footer class="footer-wrapper footer-layout1">
    <div class="shape-mockup jump d-none d-xxxl-block" data-bottom="0%" data-left="-270px">
        <div class="vs-border-circle"></div>
    </div>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="vs-widget-about">
                            <div class="footer-logo"> <a href="{%url 'index'%}"><img src="{% static 'assets/img/logo.jpg'%}" style="height:100px" alt="logo"></a> </div>
                            <p class="footer-text">{% trans "Lorem ipsum dolor sit amet, consectet rem ips dolor sit amet. sum dolor sit amet, consectet e dolor sit amet, comod."%}</p>
                            <p class="footer-info"><i class="fal fa-phone-alt"></i><a class="text-inherit" href="tel:++11234562228">(00) 123 456 789</a></p>
                            <p class="footer-info"><i class="fal fa-envelope"></i><a class="text-inherit" href="mailto:info@example.com">hello@domainname.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-xl-auto">
                    <div class="widget nav_menu footer-widget">
                        <h3 class="widget_title">{% trans "Study Links"%}</h3>
                        <div class="menu-all-pages-container footer-menu">
                            <ul class="menu">
                                <li><a href="course.html">{% trans "All Courses"%}</a></li>
                                <li><a href="blog.html">{% trans "Summer Sessions"%}</a></li>
                                <li><a href="course.html">{% trans "Best Courses"%}</a></li>
                                <li><a href="find-tutor.htm">{% trans "Hire teachers"%}</a></li>
                                <li><a href="academic-program.html">{% trans "Program FAQs"%}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-xl-auto">
                    <div class="widget nav_menu footer-widget">
                        <h3 class="widget_title">{% trans "Quick Links"%}</h3>
                        <div class="menu-all-pages-container footer-menu">
                            <ul class="menu">
                                <li><a href="about.html">{% trans "Community"%}</a></li>
                                <li><a href="contact.html">{% trans "Support"%}</a></li>
                                <li><a href="blog.html">{% trans "Video Guides"%}</a></li>
                                <li><a href="event-details.html">{% trans "Documentation"%}</a></li>
                                <li><a href="about.html">{% trans "Security"%}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-xl-auto">
                    <div class="widget  footer-widget">
                        <h3 class="widget_title">{% trans "Recent Courses"%}</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-course">
                                <div class="media-img"><a href="course-details.html"><img src="{% static 'assets/img/course/recent-course-1-1.jpg'%}" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-course-meta"><a href="team-details.html">BY ANA WATSON</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="course-details.html">Web Coding and Apache Basics theory</a></h4>
                                </div>
                            </div>
                            <div class="recent-course">
                                <div class="media-img"><a href="course-details.html"><img src="{% static 'assets/img/course/recent-course-1-2.jpg'%}" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-course-meta"><a href="team-details.html">BY ANA WATSON</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="course-details.html">Tadit Soul Can Tech Us About Web Docan</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="text-center col-lg-auto">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a href="index.html">Educino</a>. All Rights Reserved By <a href="https://themeforest.net/user/vecuro_themes">Vecuro</a></p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="social-style1">
                        <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
                        <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
                        <a href="#"><i class="fab fa-linkedin-in"></i>Linked In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 
<!-- Scroll To Top -->