{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/breadcumb/breadcumb-bg.png'%}">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">{% trans 'Find Programs'%}</h1>
                <div class="breadcumb-menu-wrap">
                    <ul class="breadcumb-menu">
                        <li><a href="{% url 'index' %}">{% trans 'Home'%}</a></li>
                        <li>{% trans 'Find Programs'%}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class=" space-top space-extra-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-xl-between flex-row-reverse">
                <div class="col-xl-5 col-xxl-auto wow fadeInUp" data-wow-delay="0.3s">
                    <div class="img-box1">
                        <div class="vs-circle">
                            <div class="mega-hover">
                                <img src="{% static 'assets/img/about/about-1-1.png'%}" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-xxl text-center text-xl-start">
                    <form action="#" class="form-style1">
                        <h2 class="form-title h1">{% trans 'Search Your Program'%}</h2>
                        <div class="row">
                            <div class="form-group col-auto">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label for="inlineRadio1">{% trans 'Undergraduate Programs'%}</label>
                            </div>
                            <div class="form-group col-auto">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
                                <label for="inlineRadio2">{% trans 'Graduate Programs'%}</label>
                            </div>
                            <div class="form-group col-12">
                                <div class="form-inner">
                                    <input type="text" placeholder="Enter your email address...">
                                    <button class="icon-btn"><i class="fal fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row gx-40 justify-content-center justify-content-xl-start">
                        <div class="col-auto">
                            <div class="media-style3">
                                <div class="media-icon"><i class="far fa-graduation-cap"></i></div>
                                <div class="media-body">
                                    <span class="media-title">{% trans '8,000 online courses'%}</span>
                                    <p class="media-text">{% trans 'Explore a variety of fresh topics'%}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="media-style3">
                                <div class="media-icon"><i class="fas fa-user-tie"></i></div>
                                <div class="media-body">
                                    <span class="media-title">{% trans 'Expert Instruction'%}</span>
                                    <p class="media-text">{% trans 'Find the right instructor for you'%}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--==============================
  Program Table
  ==============================-->
    <div class="space-extra-bottom">
        <div class="container">
            <div class="table-style2">
                <table>
                    <thead>
                        <tr>
                            <th><a href="{% url 'program-details' 1%}">{% trans 'PROGRAMS (INCLUDING MAJORS AND MINORS)'%}</a></th>
                            <th>{% trans 'TYPE OF DEGREE'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url 'program-details' 1%}">Actuarial Studies</a></td>
                            <td>certificate</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'program-details' 1%}">Health Professions Education</a></td>
                            <td>certificate, MS</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'program-details' 1%}">Leadership in Disability and Inclusive Practices</a></td>
                            <td>certificate</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'program-details' 1%}">Counseling</a></td>
                            <td>MS, EdD, PhD</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'program-details' 1%}">Teaching English as a Foreign Language</a></td>
                            <td>certificate</td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'program-details' 1%}">Teacher Leadership</a></td>
                            <td>certificate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--==============================
  CTA Area
==============================-->
    <section class="space-bottom">
        <div class="container">
            <div class="cta-style2">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="cta-content">
                            <p class="cta-text">{% trans 'AWARD WINNING QUALIFIED TUTORS'%}</p>
                            <h2 class="cta-title h1">{% trans 'Top quality tutors at affordable prices'%}</h2>
                            <a href="{% url 'team' %}" class="vs-btn style2"><i class="far fa-angle-right"></i>{% trans 'Find a Tutor'%}</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta-img">
                            <img src="{% static 'assets/img/about/about-2-6.jpg'%}" alt="About Img">
                            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video position-center"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--==============================
  FAQ Area
==============================-->
    <section class=" space-extra-bottom">
        <div class="container">
            <div class="row gx-50">
                <div class="col-lg-7 col-xl-8 mb-40 mb-lg-0">
                    <div class="title-area wow fadeInUp text-center text-lg-start" data-wow-delay="0.1s">
                        <span class="sec-subtitle">{% trans 'FREQUENTLY ASKED QUESTIONS'%}</span>
                        <h2 class="sec-title h1">Academic Faq's</h2>
                    </div>
                    <div class="accordion-style1 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="accordion" id="faqVersion1">
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What kind of tutors does Preply look for?</button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Sometimes, we don’t approve tutor profiles at the first attempt because the profile photo, video or description doesn’t meet our requirements. Make sure you use a real photo of yourself, take the time to record a short video and describe your strengths</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Solar panels now that the Feed-in Tariff has closed?</button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Sometimes, we don’t approve tutor profiles at the first attempt because the profile photo, video or description doesn’t meet our requirements. Make sure you use a real photo of yourself, take the time to record a short video and describe your strengths</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item active">
                                <div class="accordion-header" id="headingThree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What solar panels do Solarsense install?</button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Sometimes, we don’t approve tutor profiles at the first attempt because the profile photo, video or description doesn’t meet our requirements. Make sure you use a real photo of yourself, take the time to record a short video and describe your strengths</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How to Add Battery Backup to an Existing?</button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Sometimes, we don’t approve tutor profiles at the first attempt because the profile photo, video or description doesn’t meet our requirements. Make sure you use a real photo of yourself, take the time to record a short video and describe your strengths</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How to Add Battery Backup to an Existing?</button>
                                </div>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Sometimes, we don’t approve tutor profiles at the first attempt because the profile photo, video or description doesn’t meet our requirements. Make sure you use a real photo of yourself, take the time to record a short video and describe your strengths</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="support-link">Have more questions? Check our <a href="contact.html">Help center</a> or contact our <a href="contact.html">support team</a></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-7 col-lg-12">
                            <div class="img-box5 mega-hover wow fadeInUp" data-wow-delay="0.3s">
                                <div class="img-1"><img class="w-100" src="{% static 'assets/img/about/about-2-4.jpg'%}" alt="About Img"></div>
                                <div class="box-content">
                                    <h3 class="img-title">{% trans 'Online Course Registration'%}</h3>
                                    <p class="img-text">{% trans 'Top 20 courses among our 1350+ free online courses by experts'%}</p>
                                    <a href="contact.html" class="vs-btn">{% trans 'Apply Today'%}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-12">
                            <div class="media-style5 wow fadeInUp" data-wow-delay="0.4s">
                                <span class="icon"><i class="fas fa-user-headset"></i></span>
                                <h5 class="media-title">{% trans 'Admission Process'%}</h5>
                                <a class="phone" href="+8156415000"><i class="fal fa-phone-alt"></i>815-641-5000</a>
                                <a class="mail" href="mailto:support@education.com"><i class="fal fa-envelope"></i>support@education.com</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{%endblock%}