{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block content %}
    <!--==============================
    Breadcumb
    ============================== -->
    <div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/breadcumb/breadcumb-bg.png'%}">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">{% trans 'Tutor Details'%}</h1>
                <div class="breadcumb-menu-wrap">
                    <ul class="breadcumb-menu">
                        <li><a href="{% url 'index' %}">{% trans 'Home'%}</a></li>
                        <li>{% trans 'Tutor Details'%}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
      Team Area
    ==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row justify-content-center align-items-center gx-80 mb-lg-4 pb-3">
                <div class="col-lg-5 col-xl-auto order-lg-2 mb-4 mb-lg-0 pb-2 pb-lg-0">
                    <div class="img-box1 style3">
                        <div class="vs-circle">
                            <div class="mega-hover">
                                <img src="{% static 'assets/img/about/about-1-1.png'%}" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl order-lg-1 mb-4 mb-md-0">
                    <div class="team-details">
                        <h2 class="team-name h2">{{tutor.name}}</h2>
                        <p class="team-degi">{{tutor.subject}}</p>
                        <span class="team-courses">{{tutor.lessons_completed}}+ {% trans 'Lessons Completed'%}</span>
                        <span class="team-rate"><span class="team-price">${{tutor.hourly_rate}} </span>/ {% trans 'per hour'%}</span>
                        <p class="team-experi">{{tutor.experience_years}}+ {% trans 'years experience'%}</p>
                        <div class="team-review">
                            {% for i in tutor.rating|times %}
                                    <i class="fas fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="social-style2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xl order-lg-3">
                    <h4 class="border-title2">{% trans 'Qualifications'%}</h4>
                    {% for qualification in tutor.tutor_qualifications.all %}
                    <div class="graduation-media">
                        <h6 class="year">{{qualification.year}}.</h6>
                        <div class="media-body">
                            <h6 class="media-title">{{qualification.title}}</h6>
                            <p class="media-text">{{qualification.institution}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <h2 class="border-title2 mb-4">{% trans 'History Tutor'%}</h2>
            <p>{{tutor.description}}</p>
            <div class="list-style1 vs-list mb-4">
                <ul>
                    {{tutor.helper_text1|safe}}
                </ul>
            </div>
        </div>
    </section> <!--==============================
    Course Area
==============================-->
    <section class="space-top space-extra-bottom" data-bg-src="{% static 'assets/img/bg/course-bg-pattern.jpg'%}">
        <div class="container">
            <div class="title-area text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="sec-icon">
                    <div class="vs-circle"></div>
                </div>
                <span class="sec-subtitle">{% trans 'WELCOME TO GLOBAL EDUCATION'%}</span>
                <h2 class="sec-title">{% trans 'Explore Courses'%}</h2>
            </div>
            <div class="row vs-carousel" data-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2">
                {% for course in courses %}
                    <div class="col-sm-6 col-xl-4">
                        <div class="course-style2">
                            <div class="course-img">
                                <a href="{% url 'course-details' course.id %}"><img class="w-100" src="{{course.preview_image.url}}" alt="Course Img"></a>
                                <span class="course-price">${{course.price}}</span>
                            </div>
                            <div class="course-content">
                                <h3 class="h5 course-name"><a href="{% url 'course-details' course.id %}" class="text-inherit">{{course.title}}</a></h3>
                                <div class="course-meta">
                                    <span><i class="fas fa-user-tie"></i>{{course.student_count}} {% trans 'Students'%}</span>
                                    <a href="{% url 'course-details' course.id %}"><i class="far fa-tv"></i>12 Leson</a>
                                    <span><i class="far fa-clock"></i>{{course.duration}}</span>
                                </div>
                                <div class="course-footer">
                                    <div class="course-teacher"><a href="{% url 'team-details' course.id %}" class="text-inherit"><img src="{{course.tutor.profile_image.url}}" alt="Course">{{course.tutor.name}}</a></div>
                                    <div class="course-review">
                                        {% for i in course.tutor.rating|times %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}